// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  font-family: Rubik,sans-serif;
  margin: 0px;
}
.large-screen {
  margin: 0px;
  padding: 0px;
  border: 0px;
  background-color: #0000;
}

