<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Estado Presente Representações </title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="large-screen">
    <div class="topbar">
      <div class="navbar">
        <div class="navbrands">
          <ul class="navlist">
            <a href="https://www.mustang.es/es/" id="mtngnavlogo">
            <img src="assets/images/nav_mu_lg.png" alt="MTNG"/>
            </a>
            <a href="">SIXTY SEVEN</a>
            <a href="">MARIA MARE</a>
            <a href="">TAKE ME</a>
            <a href="">BIBI LOU</a>
          </ul>
        </div>
        <div class="menulogin">
          <ul class="menulist">
            <li id="listmenu"><a href="#">Registo</a></li>
            <li id="listmenu"><a href="#">Log In</a></li>
            <li id="listmenu"><span>Avatar</span></li>
          </ul>
        </div>
      </div>
      <div class="menuhome">
        <div class="homelogo">
          <img src="#" alt="LOGO EP Rep">
        </div>
        <div class="homeicons">
          <ul class="menuicons">
          <li class="iconlist">Search icon</li>
          <li class="iconlist">Fav icon</li>
          <li class="iconlist">Maps icon</li>
          </ul>
        </div>
      </div> 
    </div>
    <div class="linebreakinfo">
      <span>informação sobre estações, etc</span>
    </div>
    <div class="maincontent">
      <div class="boxone">
      <img src="assets/images/take_fall.jpg" alt="boxonepic"/>
      <p>box one content</p>
      </div>
    </div>
    <footer>
    This will be the footer divided in 3
    </footer>
  </div>
  
</body>

</html>