.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  color: rgba(0,0,0,0.3);
  width: 100%;
  margin-top: 10px;
  border-top: 1.5px solid;
  border-top-color:rgba(188, 188, 96, 0.25);
}

.footer-copyright{
  width: 33.3%;
  height: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright-list{
  list-style: none;
  color: #0e0000;
}

.footer-links {
  display: flex;
  align-items: center;
  color: #0e0000;
  text-decoration: none;
  font-size: 18px;
  width: 33.3%;
  height: 210px;
  justify-content: center;
  border-left: 1.5px solid;
  border-right: 1.5px solid;
  border-left-color:rgba(188, 188, 96, 0.25);
  border-right-color:rgba(188, 188, 96, 0.25);
}


.footer-links a {
  color: #0e0000;
  text-decoration: none;
}

.footer-links a:hover {
  opacity: 0.5;
}


.footer-list{
  list-style-type: none;
  margin-bottom: 0px;
  padding-left: 0px;
  align-items: center;
  justify-content: center;
 }

.footer-map{
  height: 210px;
  object-fit: cover;
  width: 33.3%;
}

.footermap{
  height: inherit;
  width: 100%;
  object-fit: cover;
}

