.menuhome {
  display:flex;
  justify-content: space-between;
}

#homelogo{
  width: 150px;
}

.menuicons{
  display: flex;
  width: 225px;
  justify-content: space-evenly;

}

.iconlist{
  list-style: none ;
  width: 20px;
}

#bi bi-search{
  width: 20px ;
  height: 20px ;
  fill: "currentColor";
  list-style: none ;
  
}

#bi bi-heart{
  
}

#bi bi-geo-alt{
  
}