.menuhome {
  display: flex;
  justify-content: space-between;
  border: 1.5px solid;
  margin-bottom: 1px;
  border-top-color:rgba(188, 188, 96, 0.25);
  border-bottom-color: rgba(188, 188, 96, 0.25);
  border-left: 0px;
  border-right: 0px;
  align-items: center;
  background-color: #F4F4F4;
}

.logopic{
  width: 100px;
  margin-left: 20px;
}

.linebreakinfo{
  font-family:'Fjalla One', sans-serif;
}

.homeicons{
  display: flex;
  width: 225px;
  justify-content: space-around;
  font-size: 25px

}

.menuicons{
  display: contents;
  justify-content: space-around;
  font-size: 25px
}

.iconlist{
  list-style: none ;
}

.bi-search{

}

.bi-heart{
  
}

.bi-geo-alt{
  
}