.menuhome {
  display: flex;
  justify-content: space-between;
  border-style: solid;
  margin-bottom: 1px;
  border-top-color:rgba(188, 188, 96, 0.25);
  border-bottom-color: rgba(188, 188, 96, 0.25);
  border-left: 0px;
  border-right: 0px;

}

#homelogo{
  width: 100px;
}

.linebreakinfo{

}

.menuicons{
  display: flex;
  width: 225px;
  justify-content: space-around;
  margin-bottom: 0px;
  padding-left: 0px;
  font-size: 25px

}

.iconlist{
  list-style: none ;
  width: 20px;
}

#bi-search{
  display: flex;
  width: 225px;
  justify-content: space-arpound;
  margin-bottom: 0px;
  padding-left: 0px;
  font-size: 25px
  
}

#bi-heart{
  
}

#bi-geo-alt{
  
}