.navbar{
  justify-content: space-between;
  background: white;
}

.navbar.navbar-collapse {
  flex-grow: 0;
}

.navbrands{
 display:flex;
}

.navlist{

}

#mtngnavlogo{
  width:100px;
}

#sixtysevenlogo{
  width:100px;
}

#mmarelogo{
  width:100px;
} 

#takemelogo{
  width:65px;
}

#bibilogo{
  width:60px;
}

.menulogin {
  display: flex;
  width: 225px;
  justify-content: space-evenly;
}

.menulist{
  margin: 0 px;
  display: contents;
  list-style-type: none;
}

#listmenu{
  
}

