

.navbar{
  justify-content: space-between;
  background-color: #ffff;
}

.navbar.navbar-collapse {
  flex-grow: 0;
}

.navbrands{
 display:flex;
}

.navlist{
 padding-left: 0px;
 margin-bottom: 0px; 
}

.mtngnavlogo{
  width:100px;
}

.sixtysevenlogo{
  width:100px;
}

.mmarelogo{
  width:100px;
} 

.takemelogo{
  width:65px;
  padding-left: 5px;
}

.bibilogo{
  width:60px;
  padding-left: 15px;
}

.menulogin {
  display: flex;
  width: 225px;
  justify-content: space-evenly;
  align-items: flex-end;
}

.menulist{
  margin: 0 px;
  display: contents;
  list-style-type: none;
  align-items: inherit;
}

.listmenu{
  box-sizing: border-box;
  align-items: center;
}

.btn-dark{
  background-color: #ffff;
  border-radius: 5px;
  color: #000000;
}

